In [1]:
!pip install pandas
print(f"Versión de Pandas: {pd.__version__}")

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

NameError: name 'pd' is not defined

In [6]:
import pandas as pd

In [7]:
print(f"Versión de Pandas: {pd.__version__}")

Versión de Pandas: 2.2.3

In [8]:
edades = pd.Series([25, 30, 35, 40], name="Edades")

In [10]:
edades = pd.Series([25, 30, 35, 40], name="Edades")
print("Serie de Edades:")
edades

Serie de Edades:

0    25
1    30
2    35
3    40
Name: Edades, dtype: int64

In [12]:
data = {'Nombre': ['Ana', 'Juan', 'Sofía', 'Carlos'],
    'Edad': [25, 30, 35, 40],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla']}
df = pd.DataFrame(data)
print("\nDataFrame:")
df

DataFrame:

   Nombre  Edad     Ciudad
0     Ana    25     Madrid
1    Juan    30  Barcelona
2   Sofía    35   Valencia
3  Carlos    40    Sevilla

In [19]:
from google.colab import drive 
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'